
{#footer#}
<div id="footer-widgets" class="clearfix">
                         <div class="footer-widget-boxs">
            <ul class="widget-container"><li id="nav_menu-3" class="widget widget_nav_menu"><div class="menu-%d8%aa%d9%85%d8%a7%d8%b3-%d8%a8%d8%a7-%d9%85%d8%aa%d9%85%d9%85-container"><ul id="menu-%d8%aa%d9%85%d8%a7%d8%b3-%d8%a8%d8%a7-%d9%85%d8%aa%d9%85%d9%85" class="menu"><li id="menu-item-250113" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-250113"><a href="https://motamem.org/%D8%AA%D9%85%D8%A7%D8%B3-%D8%A8%D8%A7-%D9%85%D8%A7/">تماس با متمم</a></li>
<li id="menu-item-287505" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-287505"><a href="https://motamem.org/faq/">سوالات متداول دربارهٔ متمم</a></li>
<li id="menu-item-287506" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-287506"><a href="https://motamem.org/%d8%b4%d8%b1%d8%a7%db%8c%d8%b7-%d8%ab%d8%a8%d8%aa-%d9%86%d8%a7%d9%85/">شرایط استفاده از متمم</a></li>
<li id="menu-item-287507" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-287507"><a href="https://motamem.org/%d9%82%d9%88%d8%a7%d9%86%db%8c%d9%86-%da%a9%d8%a7%d9%85%d9%86%d8%aa%e2%80%8c%da%af%d8%b0%d8%a7%d8%b1%db%8c-%d8%af%d8%b1-%d9%85%d8%aa%d9%85%d9%85/">قوانین کامنت‌گذاری در متمم</a></li>
<li id="menu-item-287508" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-287508"><a href="https://motamem.org/%DA%86%D9%86%D8%AF-%D9%BE%DB%8C%D8%B4%D9%86%D9%87%D8%A7%D8%AF-%D9%86%DA%AF%D8%A7%D8%B1%D8%B4%DB%8C/">پیشنهاد نگارشی درباره‌ی دیدگاهها</a></li>
</ul></div></li></ul>        </div>

        <div class="footer-widget-boxs">
            <ul class="widget-container"><li id="nav_menu-2" class="widget widget_nav_menu"><div class="menu-%d8%a2%d8%b4%d9%86%d8%a7%db%8c%db%8c-%d8%a8%d8%a7-%d9%85%d8%aa%d9%85%d9%85-container"><ul id="menu-%d8%a2%d8%b4%d9%86%d8%a7%db%8c%db%8c-%d8%a8%d8%a7-%d9%85%d8%aa%d9%85%d9%85" class="menu"><li id="menu-item-250118" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-250118"><a href="https://motamem.org/%D8%AF%D8%B1%D8%A8%D8%A7%D8%B1%D9%87-%D9%85%D8%AA%D9%85%D9%85/">درباره متمم</a></li>
<li id="menu-item-250125" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-250125"><a href="https://motamem.org/testimonials/">نظرات دوستان متممی</a></li>
<li id="menu-item-250124" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-250124"><a href="https://motamem.org/%D8%AF%D9%88%D8%B1%D9%87-mba-%D9%82%D8%B3%D9%85%D8%AA-%DB%B2-%D8%B1%D9%88%D8%B4%D9%87%D8%A7%DB%8C-%D9%86%D8%A7%D8%AF%D8%B1%D8%B3%D8%AA-%DB%8C%D8%A7%D8%AF%DA%AF%DB%8C%D8%B1%DB%8C/">روشهای نادرست متمم‌خوانی</a></li>
<li id="menu-item-287510" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-287510"><a href="https://motamem.org/%D8%AF%D8%A7%D9%86%D9%84%D9%88%D8%AF-%D9%81%D8%A7%DB%8C%D9%84-%D8%B5%D9%88%D8%AA%DB%8C-%D8%B1%D8%A7%D8%AF%DB%8C%D9%88-%D9%85%D8%AA%D9%85%D9%85-2/">رادیو متمم</a></li>
<li id="menu-item-287509" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-287509"><a href="https://bamotamem.ir/">با متمم</a></li>
</ul></div></li></ul>        </div>

        <div class="footer-widget-boxs footer-widget-box-last">
            <ul class="widget-container"><li id="nav_menu-4" class="widget widget_nav_menu"><div class="menu-%d8%af%d8%b1%d8%b3%d9%87%d8%a7%db%8c-%d9%85%d8%aa%d9%85%d9%85-container"><ul id="menu-%d8%af%d8%b1%d8%b3%d9%87%d8%a7%db%8c-%d9%85%d8%aa%d9%85%d9%85" class="menu"><li id="menu-item-250129" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-250129"><a href="https://motamem.org/%D9%81%D8%B1%D9%88%D8%B4%DA%AF%D8%A7%D9%87-%D9%85%D8%AA%D9%85%D9%85/">فروشگاه متمم</a></li>
<li id="menu-item-250131" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-250131"><a href="https://motamem.org/%d8%ab%d8%a8%d8%aa-%d9%86%d8%a7%d9%85-%da%a9%d8%a7%d8%b1%d8%a8%d8%b1-%d9%88%db%8c%da%98%d9%87/">خرید یا تمدید اشتراک</a></li>
<li id="menu-item-250127" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-250127"><a href="https://motamem.org/%D8%AF%D9%88%D8%B1%D9%87-mba-%D8%A2%D9%86%D9%84%D8%A7%DB%8C%D9%86-%D8%B1%D8%B4%D8%AA%D9%87-mba-%D9%85%D8%AF%DB%8C%D8%B1%DB%8C%D8%AA/">دوره MBA</a></li>
<li id="menu-item-250128" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-250128"><a href="https://motamem.org/%D8%AF%D8%B1%D8%B3%D9%87%D8%A7%DB%8C-%D8%AA%D9%88%D8%B3%D8%B9%D9%87-%D9%81%D8%B1%D8%AF%DB%8C-%D8%AF%D8%B1-%D9%85%D8%AA%D9%85%D9%85/">درسهای توسعه فردی</a></li>
<li id="menu-item-250130" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-250130"><a href="https://motamem.org/roadmaps/">نقشه یادگیری</a></li>
</ul></div></li></ul>        </div>

    </div>
<div id="footer">
            <div id="copyrights">
             ©  ۱۳۹۲-۱۴۰۱   <a href="http://motamem.org/profile/8099">تمام حقوق این سایت به گروه متمم به سرپرستی محمدرضا شعبانعلی تعلق دارد.</a>

                    <br>
    نقل مطالب متمم به هر شیوه و با هر عنوان، تخلف محسوب شده و متخلفین بر اساس قوانین جاری کشور مورد پیگرد قانونی قرار می گیرند.

        </div>

    </div>
</body>
</html>
