<div id="content">
    <div class="box-index" style="line-height: 28px;">
        <div class="sue-panel" data-url=""
             style="background-color:#ffffff;color:#000000;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;box-shadow:1px 1px 1px #eeeeee;-moz-box-shadow:1px 1px 1px #eeeeee;-webkit-box-shadow:1px 1px 1px #eeeeee;border:2px solid #000000">
            <div class="sue-panel-content sue-content-wrap" style="text-align:right"><p><span
                    style="color: #009933;"><strong>اطلاع‌رسانی افزایش تعرفهٔ اشتراک | هدیهٔ نوروزی متمم</strong></span>
            </p>
                <p style="text-align: justify;">متمم قصد دارد با توجه به افزایش هزینه‌های عملیاتی، تعرفهٔ ثبت‌نام خود را
                    از آغاز سال ۱۴۰۲ شمسی افزایش دهد.</p>
                <p style="text-align: justify;">البته چالش افزایش هزینه‌ها مربوط به ماه‌های اخیر نبوده و در سال گذشته هم
                    وجود داشته، ولی ما بنا بر سنتی که تا امروز – به هر زحمت – حفظ شده، تعرفه‌های قبلی را طی دو سال گذشته
                    ثابت نگه داشتیم.</p>
                <p style="text-align: justify;">هزینه اشتراک متمم از نخستین روز سال ۱۴۰۲ به شرح زیر خواهد بود:</p>
                <ul>
                    <li>اشتراک یک ماهه ۱۳۰ هزار تومان</li>
                    <li>اشتراک سه‌ ماهه ۳۴۵ هزار تومان</li>
                    <li>اشتراک شش ماهه ۶۵۰ هزار تومان</li>
                    <li style="text-align: justify;">اشتراک یکساله ۱ میلیون تومان</li>
                </ul>
                <p style="text-align: justify;">لازم به تأکید است که دوستان متممی تا پایان سال جاری می‌توانند اشتراک
                    ویژه خود را با تعرفه قبلی برای یک‌سال (و یا بیشتر) تمدید کنند تا در سال آتی مجبور نباشند تعرفه جدید
                    را پرداخت کنند.</p>
                <p style="text-align: justify;">ضمناً هدیهٔ نوروزی امسال متمم <strong>فایل صوتی آموزش تفکر
                    سیستمی</strong> خواهد بود که در هفتهٔ پایانی اسفند ماه، برای همهٔ اعضای ویژهٔ متمم که اعتبار اشتراک
                    آن‌ها آن زمان <strong>حداقل تا نخستین روز تابستان ۱۴۰۲</strong> باشد به رایگان ارسال خواهد شد و پس
                    از ارسال، برای تأمین هزینه‌های متمم در بخش فروشگاه عرضه می‌شود.</p>
                <p style="text-align: center;"></p>
                <div class="su-button-center"><a
                        href="https://motamem.org/%D8%AB%D8%A8%D8%AA-%D9%86%D8%A7%D9%85-%DA%A9%D8%A7%D8%B1%D8%A8%D8%B1-%D9%88%DB%8C%DA%98%D9%87/"
                        class="su-button su-button-style-soft"
                        style="color:#ffffff;background-color:#ab2e2e;border-color:#892525;border-radius:7px;-moz-border-radius:7px;-webkit-border-radius:7px"
                        target="_self"><span
                        style="color:#ffffff;padding:0px 20px;font-size:16px;line-height:32px;border-color:#c46d6d;border-radius:7px;-moz-border-radius:7px;-webkit-border-radius:7px;text-shadow:none;-moz-text-shadow:none;-webkit-text-shadow:none"> ثبت نام و خرید اشتراک<br> </span></a>
                </div>
            </div>
        </div>
        <div style="max-width: 712px;"
             class="ml-slider-3-12-1 metaslider metaslider-flex metaslider-11184 ml-slider nav-hidden">
            <div id="metaslider_container_11184">
                <div id="metaslider_11184" class="flexslider">
                    <ul class="slides">
                        <li style="display: block; width: 100%; float: right; margin-left: -100%; position: relative; opacity: 0; z-index: 1;"
                            class="slide-138717 ms-image"><a
                                href="https://motamem.org/%D8%AF%D9%88%D8%B1%D9%87-mba-%D8%A2%D9%86%D9%84%D8%A7%DB%8C%D9%86-%D8%B1%D8%B4%D8%AA%D9%87-mba-%D9%85%D8%AF%DB%8C%D8%B1%DB%8C%D8%AA"
                                target="_self"><img
                                src="https://motamem.org/wp-content/uploads/2021/01/banner-header-motamem-mba.jpg"
                                height="400" width="712" alt="" class="slider-11184 slide-138717"
                                title="banner-header-motamem-mba" draggable="false"></a></li>
                        <li style="display: block; width: 100%; float: right; margin-left: -100%; position: relative; opacity: 1; z-index: 2;"
                            class="slide-138723 ms-image flex-active-slide"><a
                                href="https://motamem.org/%D9%81%D8%B1%D9%88%D8%B4%DA%AF%D8%A7%D9%87-%D9%85%D8%AA%D9%85%D9%85/"
                                target="_self"><img
                                src="https://motamem.org/wp-content/uploads/2021/01/banner-header-motamem-shop.jpg"
                                height="400" width="712" alt="فروشگاه فایل صوتی در متمم"
                                class="slider-11184 slide-138723" title="banner-header-motamem-shop" draggable="false"></a>
                        </li>
                        <li style="display: block; width: 100%; float: right; margin-left: -100%; position: relative; opacity: 0; z-index: 1;"
                            class="slide-138728 ms-image"><a
                                href="https://motamem.org/%D9%85%D8%B9%D8%B1%D9%81%DB%8C-%DA%A9%D8%AA%D8%A7%D8%A8%D9%87%D8%A7%DB%8C-%D8%B1%D9%88%D8%A7%D9%86%D8%B4%D9%86%D8%A7%D8%B3%DB%8C"
                                target="_self"><img
                                src="https://motamem.org/wp-content/uploads/2021/01/banner-header-motamem-books-1.jpg"
                                height="400" width="712" alt="کتابهای روانشناسی در متمم"
                                class="slider-11184 slide-138728" title="banner-header-motamem-books-1"
                                draggable="false"></a></li>
                        <li style="display: block; width: 100%; float: right; margin-left: -100%; position: relative; opacity: 0; z-index: 1;"
                            class="slide-138733 ms-image"><a
                                href="https://motamem.org/%D8%AF%D8%B1%D8%B3-%D9%87%D8%A7%DB%8C-%D9%85%D8%B1%D8%AA%D8%A8%D8%B7-%D8%A8%D8%A7-%DA%A9%D8%A7%D8%B1%D8%A2%D9%81%D8%B1%DB%8C%D9%86%DB%8C/"
                                target="_self"><img
                                src="https://motamem.org/wp-content/uploads/2021/01/banner-header-motamem-entrepreneurship.jpg"
                                height="400" width="712" alt="" class="slider-11184 slide-138733"
                                title="banner-header-motamem-entrepreneurship" draggable="false"></a></li>
                        <li style="display: block; width: 100%; float: right; margin-left: -100%; position: relative; opacity: 0; z-index: 1;"
                            class="slide-138735 ms-image"><a
                                href="https://motamem.org/%D9%85%D8%B9%D8%B1%D9%81%DB%8C-%DB%8C%D8%A7%D8%AF%DA%AF%DB%8C%D8%B1%DB%8C-%D8%B2%D8%A8%D8%A7%D9%86-%D8%A7%D9%86%DA%AF%D9%84%DB%8C%D8%B3%DB%8C/"
                                target="_self"><img
                                src="https://motamem.org/wp-content/uploads/2021/01/banner-header-motamem-learning-english.jpg"
                                height="400" width="712" alt="" class="slider-11184 slide-138735"
                                title="banner-header-motamem-learning-english" draggable="false"></a></li>
                    </ul>
                    <ul class="flex-direction-nav">
                        <li class="flex-nav-prev"><a class="flex-prev" href="#">false</a></li>
                        <li class="flex-nav-next"><a class="flex-next" href="#">false</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="su-divider su-divider-style-default"
             style="margin:5px 0;border-width:1px;border-color:#cccccc"></div>
        <div class="sue-panel" data-url=""
             style="background-color:#ffffff;color:#333333;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;box-shadow:0px 1px 2px #eeeeee;-moz-box-shadow:0px 1px 2px #eeeeee;-webkit-box-shadow:0px 1px 2px #eeeeee;border:1px solid #cccccc">
            <div class="sue-panel-content sue-content-wrap" style="text-align:right"><p>متمم&nbsp;یعنی&nbsp;<strong>محل
                توسعه مهارتهای من.</strong></p>
                <p style="text-align: justify;">متمم، مجموعه‌ای از مقاله‌های آموزشی <strong>نیست.</strong> بلکه یک ابزار
                    یادگیری است که به شما کمک می‌کند به تدریج، با مطالعه، حل تمرین، یادگیری از دوستان‌تان و در یک کلام،&nbsp;<strong>وقت
                        گذاشتن منظم برای خودتان،&nbsp;</strong>دانش و مهارت‌های خود را در&nbsp;<strong>مدیریت</strong> و&nbsp;<strong>زندگی</strong>
                    توسعه دهید.</p>
                <p style="text-align: center;"><a
                        href="https://motamem.org/%D8%AB%D8%A8%D8%AA-%D9%86%D8%A7%D9%85-%DA%A9%D8%A7%D8%B1%D8%A8%D8%B1-%D9%88%DB%8C%DA%98%D9%87/"
                        class="su-button su-button-style-soft"
                        style="color:#ffffff;background-color:#ab2e2e;border-color:#892525;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px"
                        target="_self"><span
                        style="color:#ffffff;padding:0px 16px;font-size:13px;line-height:26px;border-color:#c46d6d;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;text-shadow:none;-moz-text-shadow:none;-webkit-text-shadow:none"> ثبت‌نام<br> </span></a>&nbsp;
                    &nbsp; <a href="https://motamem.org/roadmaps/" class="su-button su-button-style-soft"
                              style="color:#FFFFFF;background-color:#009933;border-color:#007a29;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px"
                              target="_self"><span
                            style="color:#FFFFFF;padding:0px 16px;font-size:13px;line-height:26px;border-color:#4db870;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;text-shadow:none;-moz-text-shadow:none;-webkit-text-shadow:none"> فهرست درس‌ها</span></a>&nbsp;
                    &nbsp; <a href="https://motamem.org/testimonials/" class="su-button su-button-style-soft"
                              style="color:#FFFFFF;background-color:#009933;border-color:#007a29;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px"
                              target="_self"><span
                            style="color:#FFFFFF;padding:0px 16px;font-size:13px;line-height:26px;border-color:#4db870;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;text-shadow:none;-moz-text-shadow:none;-webkit-text-shadow:none"> تجربهٔ متممی‌ها</span></a>
                </p></div>
        </div>
        <div class="su-note"
             style="border-color:#e3e0de;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;">
            <div class="su-note-inner su-clearfix"
                 style="background-color:#fcf9f7;border-color:#fefefd;color:#000000;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;">
                <p style="text-align: justify;"><strong>فایل صوتی معرفی متمم</strong></p>
                <p>محمدرضا شعبانعلی در یک فایل صوتی ۴۵ دقیقه‌ای دربارهٔ انگیزهٔ شکل‌گیری متمم، مخاطبان متمم، روش یادگیری
                    اثربخش‌تر و چند موضوع دیگر صحبت کرده است:</p>
                <div class="su-button-center"><a href="https://motamem.org/about/"
                                                 class="su-button su-button-style-soft"
                                                 style="color:#ffffff;background-color:#009933;border-color:#007a29;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px"
                                                 target="_self"><span
                        style="color:#ffffff;padding:0px 18px;font-size:14px;line-height:28px;border-color:#4db870;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;text-shadow:0px 0px px #ffffff;-moz-text-shadow:0px 0px px #ffffff;-webkit-text-shadow:0px 0px px #ffffff"> فایل صوتی معرفی متمم</span></a>
                </div>
            </div>
        </div>
        <div class="sue-panel" data-url=""
             style="background-color:#ffffff;color:#000000;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;box-shadow:2px 2px 4px #eeeeee;-moz-box-shadow:2px 2px 4px #eeeeee;-webkit-box-shadow:2px 2px 4px #eeeeee;border:1px solid #cccccc">
            <div class="sue-panel-content sue-content-wrap" style="text-align:right"><p>تاریخ انتشار جدیدترین درس متمم:
                ۱۹ اسفند ۱۴۰۱</p></div>
        </div>
    </div>
    <div class="post-wrap clearfix">
        {% block content %}
            {% for post in posts %}
                <div class="post-wrap clearfix">
                    <div class="post post-box clearfix post-19949 type-post status-publish format-standard has-post-thumbnail hentry category-1060 category-136 tag-2264 tag-1265 tag-2069 series-2070"
                         id="post-19949"><h3 class="entry-title"><a
                            href="{% url 'post_detail' pk=post.id %}"
                            title={{ post.title }}
                                    rel="bookmark">{{ post.title }}</a></h3>
                        <div class="postmeta-primary"><span class="vcard author post-author"><span
                                class="fn">گروه متمم</span></span> <span class="post-date updated">مارس 6, 2023</span>
                        </div>
                        <div class="entryy clearfix">
                            <div class="image-container"><a
                                    href="https://motamem.org/%d9%be%d8%a7%d9%84%d8%a7%d9%86%d8%aa%db%8c%d8%b1/"><img
                                    src={{ post.image }}
                                            width="300" height="200" class="attachment-medium size-medium wp-post-image"
                                    alt={{ post.caption }}
                                            loading="lazy"></a>
                            </div>
                            <div class="featured-content-container">{{ post.text }}
                                <div class="readmore"><a
                                        href="http://127.0.0.1:8000/post/{{ post.id }}/"
                                        title={{ post.title }}
                                                rel="bookmark">ادامه مطلب</a></div>
                            </div>
                            <p style="margin-top:10px;"></p></div>&nbsp;
                    </div>
                </div>
            {% endfor %}
        {% endblock %}
    </div>
    <div class="navigation clearfix">
        <div class="pagination">
          <span class="step-links">
              {% if posts.has_previous %}
                  <a href="?page=1">&laquo; first</a>
                  <a href="?page={{ posts.previous_page_number }}">previous</a>
              {% endif %}
              <span class="current-page">
                  Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
              </span>
              {% if posts.has_next %}
                  <a href="?page={{ posts.next_page_number }}">next</a>
                  <a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
              {% endif %}
          </span>
        </div>
    </div>
</div>